<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.summer.netcloud">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>

    <application
        android:name="com.summer.netcloud.NetWatcherApp"
        android:allowBackup="true"
        android:icon="@drawable/icon144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.summer.netcloud.MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.summer.netcloud.NotificationReceiver"
            android:exported="false"
            android:taskAffinity=""
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

        </activity>

        <service android:name=".PersistentService"/>

    </application>

</manifest>